<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="AtomicEditorAdvisorApplication">
      <application>
         <run class="atomic.presentation.AtomicEditorAdvisor$Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
            name="%_UI_Perspective_label"
            class="atomic.presentation.AtomicEditorAdvisor$Perspective"
            id="atomic.presentation.AtomicEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="atomic.presentation.AtomicEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="atomic.presentation.AtomicEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="atomic.presentation.AtomicEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="atomic.presentation.AtomicEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_AtomicEditorAdvisor_ActionSet_label"
            visible="true"
            id="AtomicEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="atomic.presentation.AtomicEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="atomic.presentation.AtomicEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="atomic.presentation.AtomicEditorAdvisorOpenURICommand"
               class="atomic.presentation.AtomicEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="atomic.presentation.AtomicEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="atomic.presentation.AtomicEditorAdvisorOpenCommand"
               class="atomic.presentation.AtomicEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="atomic.presentation.AtomicEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            label="%_UI_AtomicModelWizard_ActionSet_label"
            visible="true"
            id="atomic.presentation.AtomicActionBarContributorActionSet">
         <action
               label="%_UI_AtomicModelWizard_label"
               class="atomic.presentation.AtomicActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="atomic.presentation.AtomicActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="atomic.presentation.AtomicEditorID"
            name="%_UI_AtomicEditor_label"
            icon="icons/full/obj16/AtomicModelFile.gif"
            extensions="atomic"
            class="atomic.presentation.AtomicEditor"
            contributorClass="atomic.presentation.AtomicActionBarContributor">
      </editor>
   </extension>

</plugin>
